.square {
    width: 103px;
    height: 103px;
  }
  
  .white {
    background-color: white;
  }
  
  .black {
    background-color: gray;
  }
  
  .white-square-wrong {
    animation: white-red-pulse 0.2s;
  }
  
  .black-square-wrong {
    animation: black-red-pulse 0.2s;
  }

  .white-to-green {
    animation: white-green-pulse 0.2s;
  }

  .black-to-green {
    animation: black-green-pulse 0.2s;
  }

  .green-square-clicked {
    animation: white-green-pulse 0.5s;
  }
  
  @keyframes white-green-pulse {
    0% {
      background-color: rgb(255, 254, 254);
    }
    50% {
      background-color:  rgb(89, 130, 66);
    }
    100% {
      background-color: green;
    }
  }

  @keyframes black-green-pulse {
    0% {
      background-color: grey;
    }
    50% {
      background-color:  rgb(94, 140, 69);
    }
    100% {
      background-color: green;
    }
  }
  
  @keyframes black-red-pulse {
    0% {
      background-color: grey;
    }
    50% {
      background-color:  rgb(255, 94, 94);
      
    }
    100% {
      background-color: grey;
    }
  }
  
  @keyframes white-red-pulse {
    0% {
      background-color: rgb(255, 255, 255);
    }
    50% {
      background-color:  rgb(255, 94, 94);
    }
    100% {
      background-color: rgb(255, 255, 255);
    }
  }